<div class="wrapper">
  <div class="container">
    <!--  WELCOME  -->
    <div id="welcome">
      <h1>
        <span> Hello there, </span>
        Welcome to City Weather
      </h1>
    </div>

    <!--  HERO  -->
    <div id="hero" class="rounded">
      <div class="text-container">
        <h2>
          <span>Please select a city</span>
        </h2>
        <app-weather-search></app-weather-search>
      </div>
      <div class="logo-container">
        <img src="assets/images/city-weather.png" alt="Nature">
      </div>
    </div>



    <!--  COMMANDS  -->
    <div id="commands" class="rounded shadow">
      <app-weather-card></app-weather-card>
    </div>
  </div>
</div>
